:root {
	--border: 1px solid #374;
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #9da;
	margin: 0;
	overflow: hidden;
}

div.main {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 20em auto;
	grid-template-rows: 4em auto;
}

div.boardtitle {
	font-size: 2em;
	font-weight: bold;
	align-self: center;
	padding-left: 1rem;
}

input {
	width: 100%;
}

div.board {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	overflow: scroll;
}

div.edit {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #ccc;
	padding: 10px;
}

div.list {
	display: flex;
	flex-direction: column;
	background-color: #eee;
	border: var(--border);
	border-radius: 5px;
	padding: 10px;
}

div.listdrop, div.listdrophighlight {
	min-width: 2rem;
	height: 10rem;
}

div.listdrophighlight {
	background: repeating-linear-gradient(45deg, #9da, #9da 5px, #aeb 5px, #aeb 10px);
}

div.listtitle, div.carddrop, div.card {
	border-radius: 5px;
	width: 15rem;
	padding: 0.5rem;
}

div.listtitle {
	font-weight: bold;
	background-color: #fff;
	border: var(--border);
	font-size: 1.2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

div.carddrop, div.carddrophighlight {
	height: 2rem;
}

div.carddrophighlight {
	background: repeating-linear-gradient(45deg, #ddd, #ddd 5px, #eee 5px, #eee 10px);
}

div.card {
	background-color: #fff;
	border: var(--border);
	font-size: 0.9rem;
}

textarea {
	width: 100%;
	height: 15rem;
}

button {
	width: 100%;
}

img {
	width: 100%;
}

div.json {
	display: block;
	border-radius: 5px;
	padding: 5px;
	font-family: monospace;
	font-size: 0.9rem;
	background-color: #374;
	color: #fff;
	word-break: break-all;
}
