﻿@page
@namespace web.Pages
@model IndexModel
@{
    ViewData["Title"] = "DoveTail";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"]</title>
    <script src="main.js" type="module"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>@Model.ServerTime</p>
</body>
</html>
