
:root {
	--color-h: 266;
	--color-l-normal: 20%;
	--color-l-light: 30%;

	--border-radius: 0.3rem;

	--color-normal: hsl(var(--color-h), 100%, var(--color-l-normal));
	--color-light: hsl(var(--color-h), 100%, var(--color-l-light));
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', 'Tahoma', 'Verdana', sans-serif;
	display: flex;
	flex-direction: column;
	margin: 0;
	align-items: center;
}

header, footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #fff;
	padding-right: 2rem;
	padding-left: 2rem;
	background: var(--color-normal);
	background: linear-gradient(to bottom, var(--color-light), var(--color-normal));
}

header {
	height: 5rem;
	font-size: 2rem;
}

footer {
	height: 3rem;
}

main, nav {
	padding: 1rem;
	border-radius: var(--border-radius);
	margin-top: 2rem;
	margin-bottom: 2rem;
	box-shadow: 0 0 0.5rem 0.2rem hsla(var(--color-h), 100%, var(--color-l-normal), 0.2);
	width: 40rem;
}

p {
	line-height: 1.2rem;
}

nav {
	position: fixed;
	top: 5rem;
	left: 1rem;
	background: #fff;
	width: 20rem;
}

h1, h2, h3, h4, h5, h6, p, code, table {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--color-normal);
}

code, pre, textarea {
	font-family: 'Ubuntu Mono', monospace;
}

code, pre {
	color: #fff;
	background-color: var(--color-normal);
	padding: 1rem;
	border-radius: var(--border-radius);
	white-space: pre;
	display: block;
	overflow-x: auto;
}

table {
	width: 100%;
}

td, th {
	border: 1px dotted hsl(var(--color-h), 100%, var(--color-l-normal), 0.4);
}

th {
	text-align: left;
}

a {
	color: var(--color-light);
}

img, video {
	border-radius: var(--border-radius);
	width: 100%;
}

svg {
	width: 100%;
}

input[type=button] {
	border: 1px solid #999;
	border-radius: var(--border-radius);
	/* padding: 0.5rem 1.5rem 0.5rem 1.5rem; */
	padding: 1rem 2rem 1rem 2rem;

	background: #eee;
	background: linear-gradient(to bottom, #eee, #ddd);
}

input[type=button]:hover {
	background: linear-gradient(to bottom, #fff, #ddd);
}

input[type=button]:active {
	background: linear-gradient(to top, #eee, #ddd);
}

textarea:focus, input[type=text]:focus, input[type=checkbox]:focus {
	outline: 0;
	box-shadow: 0px 0px 0.5rem 0.2rem hsla(var(--color-h), 100%, var(--color-l-normal), 0.2);
}

textarea, input[type=text] {
	width: 100%;
	/*margin-top: 1rem;*/
	/*margin-bottom: 1rem;*/
	border-radius: var(--border-radius);
	border: 1px solid #999;
	padding: 0.5rem;
	font-size: 1.0em;
}

textarea {
	height: 10em;
}

ul {
	list-style-type: square;
}

@media print {

main {
	column-count: 2;
	column-gap: 1rem;
	column-rule: 1px solid #000;
	display: block;
	width: auto;
	box-shadow: none;
}

nav {
	display: none;
}

code, pre {
	white-space: pre-wrap;
}

header, footer {
	display: none;
}

}

/* 50 + 2 * 20 */
@media (max-width: 90rem) {

nav {
	position: static;
	width: 40rem;
}

}
