
<style>

.c1 {
	color: red;
}

.c2 {
	font-style: italic;
	font-weight: bold;
}

.c3 {
	border-bottom: 1px red dashed;
}

</style>

<script>

function cssMergeStyles(newSelector, existingSelectors) {

	const styleSheet = document.styleSheets[0];
		
	// functional
	const css = newSelector + '{' + Object.values(styleSheet.rules).map(rule => {
		const styles = Object.values(rule.style).map(style =>
			`${style}: ${rule.style[style]};`
		).join('');
		return existingSelectors.includes(rule.selectorText) ? styles : '';
	}).join('') + '}';
	
	/*
	// for loop
	let css = newSelector + '{';
	for (const rule of styleSheet.rules) {
		if (existingSelectors.includes(rule.selectorText)) {
			for (const styleKey of rule.style) {
				const styleValue = rule.style[styleKey];
				css += `${styleKey}: ${styleValue};`;
			}
		}
	}
	css += '}';
	*/
	console.log(css);	

	const styleElement = document.createElement('style');
	document.head.appendChild(styleElement);
	styleElement.sheet.insertRule(css);
}

cssMergeStyles('.c4', ['.c1', '.c2', '.c3']);
cssMergeStyles('.c5', ['.c4']);

</script>

<body>

<h1 class="c4">Hello World</h1>

</body>
