
:root {
	--bg-color: #300;
	--main-fg-color: #933;
	--main-bg-color: #fdd;
}

* {
	box-sizing: border-box;
}

html {
	font-family: Ubuntu, Tahoma, Verdana, sans-serif;
	font-size: 10pt;
}

@media screen and (min-width: 1000px) {
	html {
		font-size: 20pt;
	}
}

@media screen and (min-width: 1400px) {
	html {
		font-size: 30pt;
	}
}

body {
	background-color: var(--bg-color);
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	width: 35rem;
	overflow: hidden;
	height: 100vh;
	background-color: white;
}

a {
	color: var(--main-fg-color);
}

h1 {
	font-size: 5rem;
	color: var(--main-fg-color);
	background-color: var(--main-bg-color);
	margin: 0;
	width: 150%;
	transform: rotate(-5deg) translate(-2rem, -2rem);
	padding: 5rem 3rem 5rem 3rem;
	margin: 2rem 0 0 0;
}

h2 {
	font-size: 2rem;
	color: var(--main-fg-color);
	background-color: var(--main-bg-color);
	margin: 0;
	width: 150%;
	transform: rotate(-5deg) translate(0rem, -4rem);
	padding: 2rem 1rem 2rem 1rem;
	margin: 2rem 0 0 0;
}

p, ul, pre, img {
	margin: 0rem 1rem;
	list-style-type: square;
}

pre {
	font-family: Consolas, 'Ubuntu Mono', monospace;
	font-size: 0.6rem;
}

li {
	padding: 0.2em;
}

.small {
	color: var(--main-fg-color);
	font-size: 0.5em;
}

.hide {
	display: none;
}

img {
	height: 10em;
}

/*
copied and adapted from https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.css
*/

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
	color: #999;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url {
	color: #963;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #d46;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}
