
main, header {
	font-family: Ubuntu;
	font-size: 1.0em;
}

main {
	page-break-after: always;
	column-gap: 10px;
	column-count: 2;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.2em;
}

h1, h2 {
	margin: 0px;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #000;
}

section {
	page-break-inside: avoid;
}

p {
	margin: 0px;
	color: #666;
	font-size: 80%;
}

span.hint {
	color: #ccc;
}
