<header>

{{

const each = (iterable, callable) => Array.isArray(iterable) ? iterable.forEach(callable) : Object.keys(iterable).forEach($ => callable(iterable[$]));
const empty = (value) => parseInt(value) === 0 ? '' : value;

}}

<h2>Arcane Codex</h2>
<h1>{{= it.Name }}</h1>

<p>{{= it.Datum }}</p>

</header>

<main>

<section>
<h2>Grundlegendes</h2>
<table>
<tr><th>Rasse</th><td>{{= it.Rasse }}</td></tr>
<tr><th>Grössenklasse</th><td>{{= it.Groessenklasse }}</td></tr>
<tr><th>Grösse</th><td>{{= it.Groesse }} Meter</td></tr>
<tr><th>Alter</th><td>{{= it.Alter }}</td></tr>
<tr><th>Gott/Göttin</th><td>{{= it.Gott }}</td></tr>
<tr><th>Summe GP / CP / EP</th><td>{{= it.EigenschaftenGPSumme }} {{= it.FertigkeitenGPSumme }} / {{= it.SummeCP }} / {{= it.SummeEP }}</td></tr>
</table>
</section>

<section>
<h2>Eigenschaften ({{= it.EigenschaftenGPSumme }} GP / {{= it.EigenschaftenCPSumme }} CP / {{= it.EigenschaftenEPSumme }} EP)</h2>
<table>
<tr><th>Eigenschaft</th><th>GP</th><th>CP</th><th>EP</th><th>Bonus</th></tr>
<tr><td>Stärke (St) (-B)</td><td>{{= it.EigenschaftenGP.Staerke }}</td><td>{{= it.EigenschaftenCP.Staerke }}</td><td>{{= it.EigenschaftenEP.Staerke }}</td><td>{{= it.StaerkeBonus }} ({{= it.StaerkeBonusBelastung }})</td></tr>
<tr><td>Konstitution (Kon) (-B)</td><td>{{= it.EigenschaftenGP.Konstitution }}</td><td>{{= it.EigenschaftenCP.Konstitution }}</td><td>{{= it.EigenschaftenEP.Konstitution }}</td><td>{{= it.KonstitutionBonus }} ({{= it.KonstitutionBonusBelastung }})</td></tr>
<tr><td>Geschicklichkeit (Ge) (-B)<td>{{= it.EigenschaftenGP.Geschicklichkeit }}</td><td>{{= it.EigenschaftenCP.Geschicklichkeit }}</td><td>{{= it.EigenschaftenEP.Geschicklichkeit }}</td><td>{{= it.GeschicklichkeitBonus }} ({{= it.GeschicklichkeitBonusBelastung }})</td></tr>
<tr><td>Wahrnehmung (Wa) (-B)</td><td>{{= it.EigenschaftenGP.Wahrnehmung }}</td><td>{{= it.EigenschaftenCP.Wahrnehmung }}</td><td>{{= it.EigenschaftenEP.Wahrnehmung }}</td><td>{{= it.WahrnehmungBonus }} ({{= it.WahrnehmungBonusBelastung }})</td></tr>
<tr><td>Intelligenz (Int)</td><td>{{= it.EigenschaftenGP.Intelligenz }}</td><td>{{= it.EigenschaftenCP.Intelligenz }}</td><td>{{= it.EigenschaftenEP.Intelligenz }}</td><td>{{= it.IntelligenzBonus }}</td></tr>
<tr><td>Willenskraft (Will)</td><td>{{= it.EigenschaftenGP.Willenskraft }}</td><td>{{= it.EigenschaftenCP.Willenskraft }}</td><td>{{= it.EigenschaftenEP.Willenskraft }}</td><td>{{= it.WillenskraftBonus }}</td></tr>
<tr><td>Charisma (Cha)</td><td>{{= it.EigenschaftenGP.Charisma }}</td><td>{{= it.EigenschaftenCP.Charisma }}</td><td>{{= it.EigenschaftenEP.Charisma }}</td><td>{{= it.CharismaBonus }}</td></tr>
</table>
<p>GP = Generierungspunkte, CP = Charakterpunkte, EP = Erfahrungspunkte</p>
</section>

<section>
<h2>Berechnet</h2>
<table>
<tr><td>Belastung</td><td>{{= it.Belastung }}</td></tr>
<tr><td>Initiative</td><td>{{= it.Initiative }}</td></tr>
<tr><td>Verteidigungswert (VW)</td><td>{{= it.Verteidigungswert }}</td></tr>
<tr><td>Schockresistenz (SR)</td><td>{{= it.Schockresistenz }}</td></tr>
<tr><td>Geistiger Widerstand (GW)</td><td>{{= it.GeistigerWiderstand }}</td></tr>
{{ if (it.Vampir) { }}
<tr><td>Blutpunkte</td><td>{{= it.Blutpunkte }}</td></tr>
{{ } else { }}
<tr><td>Potential</td><td>{{= it.Potential }}</td></tr>
{{ } }}
</table>
<p>Verteidigungswert: Nahkampf, Fernkampf, Fallen, Zauber</p>
<p>Schockresistenz: Gifte, Krankheiten, Zauber</p>
<p>Geistiger Widerstand: Furcht, Geisteskrankheiten, Soziale Manipulation, Zauber</p>
</section>

<section>
<h2>Bewegung</h2>
<table>
<tr><th>Was</th><th>Wert</th></tr>
<tr><td>Gehen Kampf / Marsch / Sprint</td><td>{{= it.Geschwindigkeit.GehenKampf }} / {{= it.Geschwindigkeit.GehenMarsch }} / {{= it.Geschwindigkeit.GehenSprint }} [m]</td></tr>
<tr><td>Schwimmen</td><td>{{= it.Geschwindigkeit.Schwimmen }} [m]</td></tr>
<tr><td>Fliegen Kampf / Marsch / Sprint</td><td>{{= it.Geschwindigkeit.FliegenKampf }} / {{= it.Geschwindigkeit.FliegenMarsch }} / {{= it.Geschwindigkeit.FliegenSprint }} [m]</td></tr>
</table>
</section>

<section>
<h2>Ausrüstung ({{= it.GegenstaendePreisSumme }} [KM] / {{= it.GegenstaendeGewichtSumme }} [kg])</h2>
<table>
<tr><th>Name</th><th>Preis [KM]</th><th>Gewicht [kg]</th><th>Anzahl</th></tr>
{{ each(it.Gegenstaende, function(i) { }}
<tr><td>{{= i.Name }}</td><td>{{= i.Preis }}</td><td>{{= i.Gewicht }}</td><td>{{= i.Anzahl }}</td></tr>
{{ }); }}
</table>
</section>

<section>
<h2>Lebenspunkte</h2>
<table>
<tr><th>Zustand</th><th>Wert</th><th>Aktuell</th></tr>
<tr><td>Angeschlagen</td><td>{{= it.Angeschlagen }}</td><td></td></tr>
<tr><td>Verletzt ({{= it.MalusVerletzt }})</td><td>{{= it.Verletzt }}</td><td></td></tr>
<tr><td>Verwundet ({{= it.MalusVerwundet }})</td><td>{{= it.Verwundet }}</td><td></td></tr>
<tr><td>Schwer Verwundet ({{= it.MalusSchwerVerwundet }})</td><td>{{= it.SchwerVerwundet }}</td><td></td></tr>
<tr><td>Ausser Gefecht</td><td>{{= it.AusserGefecht }}</td><td></td></tr>
<tr><td>Komma</td><td>{{= it.Komma }}</td><td></td></tr>
<tr><td>Tod</td><td>{{= it.Tod }}</td><td></td></tr>
</table>
</section>

<section>
<h2>Arkane Macht</h2>
<table>
<tr><th>Was</th><th>Wert</th><th>Aktuell</th></tr>
<tr><td>Kraftpunkte</td><td>{{= it.Kraftpunkte }}</td><td></td></tr>
</table>
</section>

<section>
<h2>Nahkampfwaffen ({{= it.NahkampfwaffenPreisSumme }} [KM] / {{= it.NahkampfwaffenGewichtSumme }} [kg])</h2>
<table>
<tr><th>Name</th><th>Schaden</th><th>MS</th></tr>
{{ each(it.NahkampfwaffenListe, function(i) { }}
<tr><td>{{= i.Name }}</td><td>{{= i.Schaden }}</td><td>{{= i.Mindeststaerke }}</td></tr>
{{ }); }}
</table>
<p>P = Preis [KM], MS = Mindeststärke, G = Gewicht [kg]</p>
</section>

<section>
<h2>Fernkampfwaffen ({{= it.FernkampfwaffenPreisSumme }} [KM] / {{= it.FernkampfwaffenGewichtSumme }} [kg])</h2>
<table>
<tr><th>Name</th><th>Schaden</th><th>RW</th><th>LZ</th><th>S</th><th>MS</th></tr>
{{ each(it.FernkampfwaffenListe, function(i) { }}
<tr><td>{{= i.Name }}</td><td>{{= i.Schaden }}</td><td>{{= i.Reichweite }}</td><td>{{= i.Ladezeit }}</td><td>{{= i.Schuss }}</td><td>{{= i.Mindeststaerke }}</td></tr>
{{ }); }}
</table>
<p>RW = Reichweite, LZ = Ladezeit, S = Schuss, P = Preis [KM], MS = Mindeststärke, G = Gewicht [kg]</p>
</section>

<section>
<h2>Rüstungen ({{= it.RuestungenPreisSumme }} [KM] / {{= it.RuestungenGewichtSumme }} [kg])</h2>
<table>
<tr><th>Name</th><th>RS</th><th>B</th><th>MS</th></tr>
{{ each(it.RuestungenListe, function(i) { }}
<tr><td>{{= i.Name }}</td><td>{{= i.Ruestungsschutz }}</td><td>{{= i.Belastung }}</td><td>{{= i.Mindeststaerke }}</td></tr>
{{ }); }}
</table>
<p>P = Preis [KM], RS = Rüstungsschutz, B = Belastung, MS = Mindeststärke, G = Gewicht [kg]</p>
</section>

<section>
<h2>Schilde ({{= it.SchildePreisSumme }} [KM] / {{= it.SchildeGewichtSumme }} [kg])</h2>
<table>
<tr><th>Name</th><th>RS</th><th>Schaden</th><th>PB</th><th>B</th></tr>
{{ each(it.SchildeListe, function(i) { }}
<tr><td>{{= i.Name }}</td><td>{{= i.Ruestungsschutz }}</td><td>{{= i.Schaden }}</td><td>{{= i.Parierbonus }}</td><td>{{= i.Belastung }}</td></tr>
{{ }); }}
</table>
<p>P = Preis [KM], RS = Rüstungsschutz, PB = Parierbonus, B = Belastung, MS = Mindeststärke, G = Gewicht [kg]</p>
</section>

<section>
<h2>Kampf- & Magieschulen ({{= it.SchulenCPSumme }} CP / {{= it.SchulenEPSumme }} EP / {{= it.SchulenStufeSumme }} Stufen)</h2>
<table>
<tr><th>Name</th><th>CP</th><th>EP</th><th>Stufe</th></tr>
{{ each(it.SchulenListe, function(i) { }}
<tr><td>{{= i.Name }}</td><td>{{= i.CPStufe }}</td><td>{{= i.EPStufe }}</td><td>{{= i.Stufe }}</td></tr>
{{ }); }}
</table>
</section>

<section>
<h2>Vorzüge ({{= it.VorzuegeCPSumme }} CP / {{= it.VorzuegeEPSumme }} EP)</h2>
<table>
<tr><th>Name</th><th>CP</th><th>EP</th></tr>
{{ each(it.VorzuegeListe, function(i) { }}
<tr><td>{{= i.Name }}</td><td>{{= i.CP }}</td><td>{{= i.EP }}</td></tr>
{{ }); }}
</table>
</section>

<section>
<h2>Schwächen ({{= it.SchwaechenCPSumme }} CP / {{= it.SchwaechenEPSumme }} EP)</h2>
<table>
<tr><th>Name</th><th>CP</th><th>EP</th></tr>
{{ each(it.SchwaechenListe, function(i) { }}
<tr><td>{{= i.Name }}</td><td>{{= i.CP }}</td><td>{{= i.EP }}</td></tr>
{{ }); }}
</table>
</section>

<section>
<h2>Fertigkeiten ({{= it.FertigkeitenGPSumme }} GP / {{= it.FertigkeitenCPSumme }} CP / {{= it.FertigkeitenEPSumme }}) EP</h2>
<table>
<tr><th>Name</th><th>-</th><th>AB</th><th>GP</th><th>CP</th><th>EP</th><th>Wert</th></tr>
{{ each(it.FertigkeitenListe, function(i) { }}
<tr><td>{{= i.Name }}</td><td>{{= empty(i.FreiWert) }}</td><td>{{= empty(i.Angriffsbonus) }}</td><td>{{= empty(i.GPWert) }}</td><td>{{= empty(i.CPWert) }}</td><td>{{= empty(i.EPWert) }}</td><td>{{= i.Wert }}</td></tr>
{{ }); }}
</table>
<p>AB = Angriffsbonus</p>
</section>

{{ if (it.Debug) { }}
<section>
<h2>Fertigkeiten ({{= it.FertigkeitenGPSumme }} GP / {{= it.FertigkeitenCPSumme }} CP / {{= it.FertigkeitenEPSumme }}) EP</h2>
<table>
<tr><th>Name</th><th>-</th><th>AB</th><th>GP</th><th>CP</th><th>EP</th><th>Wert</th></tr>
{{ each(it.FertigkeitenListe, function(i) { }}
<tr><td>{{= i.Name }}</td><td>{{= empty(i.FreiWert) }}</td><td>{{= i.Angriffsbonus }}</td><td>{{= i.GPWert }} ({{= i.GP }})</td><td>{{= i.CPWert }} ({{= i.CP }})</td><td>{{= i.EPWert }} ({{= i.EP }})</td><td>{{= i.Wert }}</td></tr>
{{ }); }}
</table>
</section>
{{ } }}

<section>
<h2>Zauber</h2>
<table>
<tr><th>Name</th><th>G</th><th>E</th><th>MW</th><th>WW</th><th>KP</th><th>Zeit</th><th>RW</th><th>Dauer</th></tr>
{{ each(it.Zauber, function(i) { }}
<tr><td>{{= i.Name }}</td><td>{{= i.Grad }}</td><td>{{= i.Eigenschaft }}</td><td>{{= i.Mindestwert }}</td><td>{{= i.Widerstandswert }}</td><td>{{= i.Kosten }}</td><td>{{= i.Zeitaufwand }}</td><td>{{= i.Reichtweite }}</td><td>{{= i.Wirkungsdauer }}</td></tr>
{{ }); }}
</table>
<p>G=Grad, E = Eigenschaft, MW = Mindestwert, WW = Widerstandswert, KP = Kosten, RW = Reichweite</p>
</section>

<section>
<h2>Erfahrungspunkte ({{= it.ErfahrungspunkteSumme }} EP)</h2>
<table>
{{ each(it.ErfahrungspunkteListe, function(i) { }}
<tr><td>{{= i.Datum }}</td><td>{{= i.Anzahl }}</td></tr>
{{ }); }}
</table>
</section>

<section>
<h2>Notizen</h2>
<table>
{{ each(it.NotizenListe, function(i) { }}
<tr><td>{{= i }}</td></tr>
{{ }); }}
</table>
</section>

</main>
