
body {
	font-family: Ubuntu, Tahoma, Arial, sans-serif;
	color: #111;
	column-count: 2;
	column-gap: 10px;
	xcolumn-rule: 1px solid #000;
}

h1, h2, h3 {
	border-bottom: 1px solid #999;
}

td {
	xborder: 1px solid #999;
}

img {
	width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #999;
}

table tr:first-child th, table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child, table tr th:first-child {
	border-left: 0;
}

table tr td:last-child, table tr th:last-child {
	border-right: 0;
}
