body {
	margin: 0px;
	font-family: Ubuntu, Tahoma, Arial, sans-serif;
}

#menu {
	position: fixed;
	width: 25%;
	right: 10px;
	top: 10px;
	border-radius: 5px;
	border: 1px solid #99f;
	padding: 3px;
	background-color: #eef;
	opacity: 0.9;
	--display: none;
}

#debug {
	position: fixed;
	width: 25%;
	left: 10px;
	bottom: 10px;
	border-radius: 5px;
	border: 1px solid #f99;
	padding: 3px;
	background-color: #fee;
	opacity: 0.9;
	--display: none;
}

#debug > p {
	margin: 0.2em;
	border-left: 1px solid #f00;
	padding-left: 0.2em;
}

#menu > * {
	margin: 3px;
	border-left: 1px solid #00f;
	padding-left: 3px;
}

#menu > h1 {
	font-size: 1.5em;
}

#menu textarea {
	width: 90%;
	height: 10em;
	font-family: Ubuntu, Tahoma, Arial, sans-serif;
}

div.radio {
	display: inline-block;
}

div.radio * {
	vertical-align: middle;
}

#map {
	background-color: #efe;
}

.tileinfo {
	pointer-events: none;
}

.tileref {
	pointer-events: none;
}