<style>

body {
	background-image: url('bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	margin-top: 1em;
	display: flex;
	justify-content: center;
	font-size: 8em;
	color: white;
}

main {
	margin: 20em auto 0 auto;
	width: 40em;
}

</style>

<body>

<header>
	Another Design
</header>

<main>
	<p>Haxx0r ipsum it's a feature ctl-c *.* cache true shell gc gnu double spoof afk bang fopen worm var man pages recursively hack the mainframe. Python cd function tcp socket port boolean race condition vi endif for perl mega d00dz private. Brute force pwned sudo stack packet sniffer wannabee ifdef tunnel in continue ddos grep script kiddies.</p>
	<p>Double fopen lib int highjack wabbit Starcraft piggyback cd bang stack L0phtCrack. Private flood gcc cat over clock xss error /dev/null recursively segfault new overflow. If ip char deadlock Trojan horse for mega frack Linus Torvalds break bytes eaten by a grue warez port protocol stack trace.</p>
	<p>Unix ctl-c hello world long wombat highjack warez semaphore eaten by a grue. Mutex fail chown packet mailbomb ddos printf bar hack the mainframe continue gobble xss data daemon. Man pages emacs irc python tarball grep flush suitably small values.</p>
	<p>Syn loop case hello world new cookie hack the mainframe gobble blob mega public python break stdio.h mountain dew fork sudo. Dereference rm -rf tarball script kiddies server /dev/null spoof unix machine code. Exception rsa null bin stack trace false bytes strlen sql gnu snarf protocol foad regex gc race condition.</p>
	<p>Error then epoch machine code mega flood James T. Kirk alloc cd client root bar lib data tcp semaphore highjack finally shell syn. Crack protected Trojan horse emacs cookie bubble sort wabbit ack memory leak snarf foad stdio.h char ddos wombat ip ctl-c mailbomb new less. Tera recursively terminal /dev/null piggyback hash sql wannabee brute force.</p>
</main>

</body>
