
/*
https://hslpicker.com
https://html-css-js.com/css/generator/box-shadow/
https://css-tricks.com/snippets/css/complete-guide-grid/
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.xtom-scrollable {
    height: 30em;
    overflow: scroll;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul ul {
    border-left: 1px solid #ccc;
    margin-left: 0.75em;
    padding-left: 0.75em;
}

a {
    display: block;
    border-radius: 5px;
    padding: 0.2em;
}

a:hover {
    background-color: #eee;
}

:root {
    --wui-font-family: "Segoe UI", Ubuntu, "Noto Sans", sans-serif;
    --wui-color-primary-hue: 267;
    --wui-color-info-hue: 208;
    --wui-color-warning-hue: 52;
    --wui-color-danger-hue: 345;
    --wui-border-radius: 5px;
}

* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: var(--wui-font-family);
    font-size: 1em;
    line-height: 1.5;
    margin: 1em;
}

.wui-main {
    max-width: 80em;
    margin: auto;
}

.wui-button {
    border: 1px solid #0001;
    border-radius: var(--wui-border-radius);
    font-size: 1.5em;
    padding: 0.5em;
}

.wui-editline[type=text] {
    width: 100%;
    border: 1px solid #0001;
    border-radius: var(--wui-border-radius);
    font-size: 1em;
    padding: 0.75em;
}

.wui-editarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 5em;
    border: 1px solid #0001;
    border-radius: var(--wui-border-radius);
    font-size: 1em;
    padding: 0.75em;
    font-family: var(--wui-font-family);
    height: 10em;
}

.wui-flow-h {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.wui-flow-v {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.wui-grid-h {
    display: grid;
    /* grid-template-columns: ... ; */
    gap: 1em;
}

.wui-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #0001;
    box-shadow: 0 0 10px 0 #0001;
    border-radius: var(--wui-border-radius);
    padding: 1em;
}

.wui-message-info {
    --wui-color-header-foreground: #fff;
    --wui-color-header-background: hsl(var(--wui-color-info-hue), 100%, 60%);
    --wui-color-body-foreground: hsl(var(--wui-color-info-hue), 100%, 30%);
    --wui-color-body-background: hsl(var(--wui-color-info-hue), 100%, 90%);
}

.wui-message-warning {
    --wui-color-header-foreground: #000;
    --wui-color-header-background: hsl(var(--wui-color-warning-hue), 100%, 60%);
    --wui-color-body-foreground: hsl(var(--wui-color-warning-hue), 100%, 30%);
    --wui-color-body-background: hsl(var(--wui-color-warning-hue), 100%, 90%);
}

.wui-message-danger {
    --wui-color-header-foreground: #fff;
    --wui-color-header-background: hsl(var(--wui-color-danger-hue), 100%, 60%);
    --wui-color-body-foreground: hsl(var(--wui-color-danger-hue), 100%, 30%);
    --wui-color-body-background: hsl(var(--wui-color-danger-hue), 100%, 90%);
}

.wui-message-head {
    font-weight: bold;
    border-top-left-radius: var(--wui-border-radius);
    border-top-right-radius: var(--wui-border-radius);
    color: var(--wui-color-header-foreground);
    background-color: var(--wui-color-header-background);
    padding: 0.75em;
}

.wui-message-body {
    border-bottom-left-radius: var(--wui-border-radius);
    border-bottom-right-radius: var(--wui-border-radius);
    color: var(--wui-color-body-foreground);
    background-color: var(--wui-color-body-background);
    padding: 0.75em;
}

.wui-collapse {
    display: none;
}