<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h1>Index</h1>

    {% for story in collections.story %}
    <h2><a href="{{ story.url }}">{{ story.data.title }}</a></h2>
        <img src="/img/{{ story.data.title | slug }}.jpg" width="100">
        <table>
            <tr><td>Title</td><td>{{ story.data.title }}</td></tr>
            <tr><td>Genre</td><td>{{ story.data.genre }}</td></tr>
            <tr><td>Difficulty</td><td>{{ story.data.difficulty }}</td></tr>
            <tr><td>License</td><td>{{ story.data.license }}</td></tr>
        </table>
        <ul>
        {% assign languages = story.data.languages | split: "," %}
        {% for language in languages %}
            <li>{{ language }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
</body>

</html>
