
<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/google-map/google-map.html">
<link rel="import" href="bower_components/google-map/google-map-search.html">
<link rel="import" href="bower_components/google-map/google-map-directions.html">

<dom-module id="sport-chef-location-input">
	<template>
		<input value="{{location::input}}" style="width: 80%"></input>
		<p>Location: <strong>{{location}}</strong></p>
	</template>
	<script>
	Polymer({
		is: "sport-chef-location-input",
		properties: {
			location: {
				type: String,
				notify: true,
			}
		},
	});
	</script>
</dom-module>

<dom-module id="sport-chef-location-map">
	<template is="dom-bind">
		<p>Location: <strong>{{location}}</strong></p>
		<style>
		google-map {
			height: 700px;
		}
		</style>
		<google-map-search globalSearch="true" map="[[map]]" query="{{location}}" results="{{results}}"></google-map-search>
		<google-map map="{{map}}" latitude="{{getLatitude(results)}}" longitude="{{getLongitude(results)}}" zoom="17">
			<google-map-marker latitude="{{getLatitude(results)}}" longitude="{{getLongitude(results)}}"></google-map-marker>
		</google-map>
	</template>
	<script>
	Polymer({
		is: "sport-chef-location-map",
		properties: {
			location: {
				type: String,
			}
		},
		getLatitude: function(result) {
			if(result.length > 0) {
				return result[0].latitude;
			}
			return 47;
		},
		getLongitude: function(result) {
			if(result.length > 0) {
				return result[0].longitude;
			}
			return 8;
		},
	});
	</script>
</dom-module>

<dom-module id="sport-chef-location">
	<template>
		<sport-chef-location-input location="{{location}}"></sport-chef-location-input>
		<sport-chef-location-map location="{{location}}"></sport-chef-location-map>
	</template>
	<script>
	Polymer({
		is: "sport-chef-location",
		properties: {
			location: {
				type: String,
				value: "CSS Hauptsitz Luzern Schweiz"
			}
		},
	});
	</script>
</dom-module>
